<div class="container-fluid p-0">
  <div class="d-flex">
    <div class="sidebar shadow-sm p-3 d-flex flex-column" *ngIf="isSidebarOpen" style="width: 250px; height: 100vh; position: fixed; background-color: #4B49AC;">
      <h3 class="text-light">Employee Management</h3>
      <ul class="nav flex-column mt-4">
        <li class="nav-item mb-2 custom-li">
          <a class="nav-link text-light" routerLink="/admin">
            <i class="bi bi-people-fill"></i> Employee List
          </a>
        </li>
        <li class="nav-item mb-2 custom-li">
          <a class="nav-link text-light" routerLink="/admin/add">
            <i class="bi bi-person-plus-fill"></i> Add Employee
          </a>
        </li>
      </ul>
    </div>

    <div class="content flex-grow-1" [style.marginLeft]="isSidebarOpen ? '250px' : '0'">
      <nav class="navbar navbar-expand-lg shadow-sm" style="background-color: #98BDFF;">
        <div class="container-fluid">
          <button class="btn text-white" (click)="toggleSidebar()" style="font-size: 24px;">
            <i class="bi bi-list" style="font-size: 1.5em; font-weight: bold;"></i>
          </button>
          <a class="navbar-brand text-white" href="#">Dashboard</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white d-flex align-items-center" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://png.pngtree.com/png-clipart/20240709/original/pngtree-casual-man-flat-design-avatar-profile-picture-vector-png-image_15526568.png" alt="Profile Image" class="rounded-circle me-2" style="width: 30px; height: 30px;">
                  Profile
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                  <li><a class="dropdown-item" href="/admin/profile">View Profile</a></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <main class="container mt-4">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>