
body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif; 
  }
  

  .navbar {
    background-color: #007bff; 
    padding: 1rem;
  }
  
  .navbar-brand {
    font-weight: 400;
    font-size: 1.3rem;
  }
  
  .nav-link {
    color: #fff !important;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #ffeb3b !important; 
  }
  
  .btn {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    box-shadow: 0px 4px 10px rgba(220, 53, 69, 0.5);
  }
  
  .btn-close {
    background: transparent;
  }
  

  .navbar-toggler {
    padding: 0.25rem 0.5rem; 
    font-size: 0.75rem; 
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.55); 
    width: 36px; 
    height: 36px; 
  }
  
  .navbar-toggler-icon {
    width: 20px; 
    height: 20px; 
  }
  

  main {
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  h2 {
    font-size: 2rem;
    color: #007bff;
    font-weight: 600;
  }
  
  .modal-content {
    border-radius: 10px;
  }
  
  @media (max-width: 576px) {
    main {
      margin: 10px;
      padding: 15px;
    }
  
    .h2 {
      font-size: 1.5rem;
    }
  
    .navbar-brand {
      font-size: 1.2rem;
    }
  }
  