.profile-detail-container {
    border: 1px solid #dcdcdc;
    background-color: #f9f9f9;
  }
  
  .profile-info {
    margin-bottom: 20px;
  }
  
  .profile-actions .btn {
    margin-right: 10px;
  }